//- навигация
mixin nav(name, link)
    a(href=link)=name

//- раскрывающийся список
mixin select(name,link,first)
    if(first)
        option(value=link disabled selected)=name
    else
        option(value=link)=name
    
//- кнопка
mixin button(bname)
    button&attributes(attributes)=bname

//- кнопка с формой
mixin fbutton(fname, bname)
    form(name=fname)
        button&attributes(attributes)=bname

//- изображение
mixin image(src,alt)
    img(src=src alt=alt)
    
//- ссылки на соцсети
mixin smm(link,src,alt)
    a(href=link)
        img(src=src alt=alt)

//- поле ввода текста
mixin texttype(placeholder)
    input(type='text' placeholder=placeholder)&attributes(attributes)

//- календарь
mixin datepicker(placeholder)
    input(class='datepicker-here' type='text' placeholder=placeholder)&attributes(attributes)

//- переключатели
mixin radio(name, rname)
    input(type='radio' name=name value=rname id=rname)&attributes(attributes)
    label(for=rname)=rname

//- чекбокс
mixin check(name, cname)
    input(type='checkbox' name=name value=cname id=cname)&attributes(attributes)
    label(for=cname)=cname